# Python
.venv/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Env
.env

# dbt
dbt/target/
dbt/logs/
dbt/dbt_packages/
dbt/metastore_db/
dbt/derby.log
dbt/.user.yml

# Great Expectations
great_expectations/uncommitted/

# Airflow
airflow/logs/
airflow/plugins/__pycache__/

# Docker / MinIO data
minio_data/

# Spark
spark/logs/

# OS
.DS_Store

# IDE
.idea/
.vscode/
